<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/userProfile.css" th:href="@{/resources/static/css/userProfile.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/mom-menu-item.css" th:href="@{/resources/static/css/mom-menu-item.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/dealsHome.css" th:href="@{/resources/static/css/dealsHome.css}">
    
</head> 
<body>
 <div  layout:replace="/templates/dealsHeader :: deals-header" > </div>
 <div  layout:replace="/templates/userProfileSideMenu :: user-profile-side-menu('offerCreation')" > </div>
<div class="depot-ann-container">
		<ol class="breadcrumb breadcrumb-arrow">
<!-- 			Topics-->
		  <li class="breadcrumb-item"><a th:href="@{/userProfile/offerCreationTopics}">Les thèmes</a></li>
		  <li class="breadcrumb-item" th:if="${'deals'.equals(offerCreationParams.topic)}"><a th:href="@{/userProfile/dealOfferCreationCategories?topic=deals}" >Le coin des affaires</a></li>
		  <li class="breadcrumb-item" th:if="${'rents'.equals(offerCreationParams.topic)}"><a  th:href="@{/userProfile/rentOfferCreationCategories?topic=rents}" >Le coin de location</a></li>
<!-- 		  Categories -->
		  <li class="active" th:if="${'room'.equals(offerCreationParams.category)}"><span>Chambre</span></li>
		  <li class="active" th:if="${'toilet'.equals(offerCreationParams.category)}"><span>Toilette</span></li>
		  <li class="active" th:if="${'cooking'.equals(offerCreationParams.category)}"><span>Repas</span></li>
		  <li class="active" th:if="${'walking'.equals(offerCreationParams.category)}"><span>Balade</span></li>
		  <li class="active" th:if="${'security'.equals(offerCreationParams.category)}"><span>Sécurité</span></li>
		  <li class="active" th:if="${'gaming'.equals(offerCreationParams.category)}"><span>Eveil &#38; Jeux</span></li>
		  <li class="active" th:if="${'clothing'.equals(offerCreationParams.category)}"><span>Vêtements</span></li>
		  <li class="active" th:if="${'maternity'.equals(offerCreationParams.category)}"><span>Maternité</span></li>
		</ol>
	<div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'room')}">
			<ul class="row">
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory room-color">
	                    <br />
	                   Meuble
	                </a>
	                <ul class="hidden subCategory-items room-color">
						<li th:each="furItem : ${#servletContext.getAttribute('furnitures')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=room&subCategory=furnitures&itemName='+${furItem.itemName}}" th:text="${furItem.itemName}">menu meuble indisponible</a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory room-color">
	                    <br />
	                    Textile de chambre
	                </a>
	                <ul class="hidden subCategory-items room-color">
						<li th:each="textileItem : ${#servletContext.getAttribute('textiles')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=room&subCategory=textiles&itemName='+${textileItem.itemName}}" th:text="${textileItem.itemName}">menu textile de chambre indisponible</a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory room-color">
	                    <br />
	                    Décoration
	                </a>
	                <ul class="hidden subCategory-items room-color">
						<li th:each="decoItem : ${#servletContext.getAttribute('decorations')}" ><a  th:href="@{'/userProfile/createDealOffer?topic=deals&category=room&subCategory=decorations&itemName='+${decoItem.itemName}}" th:text="${decoItem.itemName}">menu décoration indisponible</a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'toilet')}">
			<ul class="row">
				<li class="subCategoryWrapper col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory toilet-color">
	                    <br />
	                   Toilette
	                </a>
	                <ul class="hidden subCategory-items toilet-color">
						<li th:each="toiletItem : ${#servletContext.getAttribute('toilets')}" ><a   th:href="@{'/userProfile/createDealOffer?topic=deals&category=toilet&subCategory=toilets&itemName='+${toiletItem.itemName}}" th:text="${toiletItem.itemName}">menu meuble indisponible</a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'cooking')}">
			<ul class="row">
				<li class="subCategoryWrapper col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory cooking-color">
	                    <br />
	                   Repas
	                </a>
	                <ul class="hidden subCategory-items cooking-color">
						<li th:each="cookingItem : ${#servletContext.getAttribute('cooking')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=cooking&subCategory=cooking&itemName='+${cookingItem.itemName}}" th:text="${cookingItem.itemName}">menu meuble indisponible</a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'walking')}">
			<ul class="row">
				<li class="subCategoryWrapper col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory walking-color">
	                    <br />
	                   Balade
	                </a>
	                <ul class="hidden subCategory-items walking-color">
						<li th:each="walkItem : ${#servletContext.getAttribute('walking')}" ><a  th:href="@{'/userProfile/createDealOffer?topic=deals&category=walking&subCategory=walking&itemName='+${walkItem.itemName}}" th:text="${walkItem.itemName}">menu meuble indisponible</a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'security')}">
			<ul class="row">
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory security-color">
	                    <br />
	                   Sécurité
	                </a>
	                <ul class="hidden subCategory-items security-color">
						<li th:each="secuItem : ${#servletContext.getAttribute('securities')}" ><a  th:href="@{'/userProfile/createDealOffer?topic=deals&category=security&subCategory=securities&itemName='+${secuItem.itemName}}" th:text="${secuItem.itemName}">menu meuble indisponible</a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'gaming')}">
			<ul class="row">
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color">
	                    <br />
	                   Eveil
	                </a>
	                <ul class="hidden subCategory-items gaming-color">
						<li th:each="awakGameItem : ${#servletContext.getAttribute('awakening')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=awakening&itemName='+${awakGameItem.itemName}}" th:text="${awakGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color">
	                    <br />
	                    Sport et plein air
	                </a>
	                <ul class="hidden subCategory-items gaming-color">
						<li th:each="outGameItem : ${#servletContext.getAttribute('outdoors')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=outdoors&itemName='+${outGameItem.itemName}}" th:text="${outGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color">
	                    <br />
	                    Découvrir et manipuler
	                </a>
	                <ul class="hidden subCategory-items gaming-color">
						<li th:each="discoverGameItem : ${#servletContext.getAttribute('discoveries')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=discoveries&itemName='+${discoverGameItem.itemName}}" th:text="${discoverGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color">
	                    <br />
	                    Jeux créatifs et puzzles
	                </a>
	                <ul class="hidden subCategory-items gaming-color">
						<li th:each="puzzleGameItem : ${#servletContext.getAttribute('puzzles')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=puzzles&itemName='+${puzzleGameItem.itemName}}" th:text="${puzzleGameItem.itemName}"></a></li>
					</ul>
				</li>
			</ul>
			<ul class="row">
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory subCategory-second-row gaming-color">
	                    <br />
	                   Véhicule, circuit et jouet radiocommandé
	                </a>
	                <ul class="hidden subCategory-items subCategory-second-row gaming-color">
						<li th:each="carGameItem : ${#servletContext.getAttribute('cars')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=cars&itemName='+${carGameItem.itemName}}" th:text="${carGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color subCategory-second-row">
	                    <br />
	                    Médiatèque
	                </a>
	                <ul class="hidden subCategory-items gaming-color subCategory-second-row"> 
						<li th:each="mediaGameItem : ${#servletContext.getAttribute('medias')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=medias&itemName='+${mediaGameItem.itemName}}" th:text="${mediaGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color subCategory-second-row">
	                    <br />
	                    Jeux d'imitation et monde imaginaire
	                </a>
	                <ul class="hidden subCategory-items gaming-color subCategory-second-row">
						<li th:each="imagGameItem : ${#servletContext.getAttribute('imaginaries')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=imaginaries&itemName='+${imagGameItem.itemName}}" th:text="${imagGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color subCategory-second-row">
	                    <br />
	                    Poupé et pelouche
	                </a>
	                <ul class="hidden subCategory-items gaming-color subCategory-second-row">
						<li th:each="dollGameItem : ${#servletContext.getAttribute('dolls')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=dolls&itemName='+${dollGameItem.itemName}}" th:text="${dollGameItem.itemName}"></a></li>
					</ul>
				</li>
			</ul>
			<ul class="row">
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color subCategory-third-row">
	                    <br />
	                   Jeux de société
	                </a>
	                <ul class="hidden subCategory-items gaming-color subCategory-third-row">
						<li th:each="boardGameItem : ${#servletContext.getAttribute('boards')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=boards&itemName='+${boardGameItem.itemName}}" th:text="${boardGameItem.itemName}">menu meuble indisponible</a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color subCategory-third-row">
	                    <br />
	                    Jeux de construction
	                </a>
	                <ul class="hidden subCategory-items gaming-color subCategory-third-row">
						<li th:each="buildingGameItem : ${#servletContext.getAttribute('building')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=building&itemName='+${buildingGameItem.itemName}}" th:text="${buildingGameItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory gaming-color subCategory-third-row">
	                    <br />
	                    Instruments de musique
	                </a>
	                <ul class="hidden subCategory-items gaming-color subCategory-third-row">
						<li th:each="musicInstGameItem : ${#servletContext.getAttribute('musicInstruments')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=gaming&subCategory=musicInstruments&itemName='+${musicInstGameItem.itemName}}" th:text="${musicInstGameItem.itemName}"></a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'clothing')}">
			<ul class="row">
				<li class="subCategoryWrapper col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory clothing-color">
	                    <br />
	                   Chaussures
	                </a>
	                <ul class="hidden subCategory-items clothing-color">
						<li th:each="shoesItem : ${#servletContext.getAttribute('shoes')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=clothing&subCategory=shoes&itemName='+${shoesItem.itemName}}" th:text="${shoesItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory clothing-color">
	                    <br />
	                    Prêt à porter
	                </a>
	                <ul class="hidden subCategory-items clothing-color">
						<li th:each="wearItem : ${#servletContext.getAttribute('wears')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=clothing&subCategory=wears&itemName='+${wearItem.itemName}}" th:text="${wearItem.itemName}">menu textile de chambre indisponible</a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory clothing-color">
	                    <br />
	                    Sous vêtements
	                </a>
	                <ul class="hidden subCategory-items clothing-color">
						<li th:each="underwearItem : ${#servletContext.getAttribute('underwears')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=clothing&subCategory=underwears&itemName='+${underwearItem.itemName}}" th:text="${underwearItem.itemName}">menu décoration indisponible</a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory clothing-color">
	                    <br />
	                   Vestes et manteaux
	                </a>
	                <ul class="hidden subCategory-items clothing-color">
						<li th:each="jacketItem : ${#servletContext.getAttribute('jackets')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=clothing&subCategory=jackets&itemName='+${jacketItem.itemName}}" th:text="${jacketItem.itemName}"></a></li>
					</ul>
				</li>
			</ul>
			<ul class="row">
				
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory clothing-color subCategory-second-row">
	                    <br />
	                    Vêtements de nuit
	                </a>
	                <ul class="hidden subCategory-items clothing-color subCategory-second-row">
						<li th:each="nightWearItem : ${#servletContext.getAttribute('nightWears')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=clothing&subCategory=nightWears&itemName='+${nightWearItem.itemName}}" th:text="${nightWearItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory clothing-color subCategory-second-row">
	                    <br />
	                    Vêtements de sport
	                </a>
	                <ul class="hidden subCategory-items clothing-color subCategory-second-row">
						<li th:each="sportWearItem : ${#servletContext.getAttribute('sportWears')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=clothing&subCategory=sportWears&itemName='+${sportWearItem.itemName}}" th:text="${sportWearItem.itemName}"></a></li>
					</ul>
				</li>
			</ul>
    </div>
    <div class="catTable" th:if="${#strings.equals(#request.getParameter('category'), 'maternity')}">
			<ul class="row">
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory maternity-color">
	                    <br />
	                   Accessoires
	                </a>
	                <ul class="hidden subCategory-items maternity-color">
						<li th:each="matAccessoryItem : ${#servletContext.getAttribute('accessories')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=maternity&subCategory=accessories&itemName='+${matAccessoryItem.itemName}}" th:text="${matAccessoryItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory maternity-color">
	                    <br />
	                    Lecture &#38; DVD
	                </a>
	                <ul class="hidden subCategory-items maternity-color">
						<li th:each="matDvdItem : ${#servletContext.getAttribute('readingAndDvds')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=maternity&subCategory=readingAndDvds&itemName='+${matDvdItem.itemName}}" th:text="${matDvdItem.itemName}"></a></li>
					</ul>
				</li>
				<li class="col-lg-3">
	                <a href="#" class="btn btn-squared-default subCategory maternity-color">
	                    <br />
	                    Vêtements de grossesse
	                </a>
	                <ul class="hidden subCategory-items maternity-color">
						<li th:each="pregWearItem : ${#servletContext.getAttribute('pregnancyWears')}" ><a th:href="@{'/userProfile/createDealOffer?topic=deals&category=maternity&subCategory=pregnancyWears&itemName='+${pregWearItem.itemName}}" th:text="${pregWearItem.itemName}"></a></li>
					</ul>
				</li>
			</ul>
    </div>
</div>
    <!-- Placed at the end of the document so the pages load faster -->
 	 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- the main fileinput plugin file -->
	<!-- popper.min.js below is needed if you use bootstrap 4.x. You can also use the bootstrap js 
   3.3.x versions without popper.min.js. -->
<!-- piexif.min.js is only needed for restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/purify.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.js"></script>
<script type="text/javascript" src="../../../resources/static/js/userProfile.js" th:src="@{/resources/static/js/userProfile.js}"></script>
</body>
</html>