@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.logo {
	position:relative;
  height: 160px;
  width: 80px;
background-color:#1c7178;
	left:50px;
	text-align: center;
/* 	vertical-align: bottom; */
}
div.map-marker {
    position: relative;
    background: #FFF;
    border: 2px outset white;
    color:#1c7178;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%; 
    width: 50px; 
    height: 30px;
    font-weight:bolder;
}

div.map-marker:before{
    content: "";
    position: absolute;
    left: 15px;
    bottom:-15px;
    z-index: 1;
    border: solid 8px transparent;
    border-top-color: white;
}
.logo-text {
	position:absolute;
	color:white;
	left:15px;
	bottom: 0;
	
	text-align: center;
	}
	textarea, input {
  padding:10px;
	font-family: FontAwesome, "Nunito Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.menu-bar-icon{
	
	color: #1c7178;
	font-size: 40px;
	margin: 0 auto;
}
.menu-bar-link{
	color:#1c7178;
	font-size: 19px;
/* 	border-radius: 10px; */
/* 	border: 1px solid #1c7178; */
	/**background-color: #1c7178;**/
/* 	font-family: cursive; */
	padding:10px;
	margin:15px;
	top:35px;
}
.menu-bttn{
	position:absolute;
	top:12vh;
	color:#1c7178;
	left:300px;
	text-align: center;
	float:none;
	
	
}
.login-button{
	position:absolute;
	color:white;
	font-size: 19px;
	border: none;
/* 	border-bottom: 2px dotted darcyan; */
	background-color: #1c7178;
	right:100px;
	top:20px;
}
.login-bton:hover{
	position:absolute;
	color:#1c7178;
	background:#1c7178;
	font-size: 20px;
	border: none;
	border-bottom: 2px dotted darcyan;
	/**background-color: #1c7178;**/
/* 	font-family: cursive; */
	right:100px;
	top:20px;
	z-index:999 !important;
}
.hp-login-button{
	position:absolute;
	text-decoration:none;
	color:white;
	font-size: 20px;
	border: none;
/* 	border-bottom: 2px dotted darcyan; */
	/**background-color: #1c7178;**/
/* 	font-family: cursive; */
	right:50px;
	top:15px;
}
.hp-login-button:hover{
	position:absolute;
	color:#1c7178;
	font-size: 22px;
	text-decoration:none;
	border: none;
	right:50px;
	top:15px;
}
.menu-search{
	position:absolute;
	width:500px;
	right:5%;
	top:20px;
}
.mom-header-themes-bar{
	position:absolute;
/* 	margin-top:2%; */
	left:15%;
	top:10px;
	height:20px;
/* 	margin-right:35%; */
}
.topics-in-menu-header{
	color:#1c7178;
	text-decoration:none;
	font-size: 19px;
	border: none;
/* 	text-align:center; */
	margin-right:25px;
	width:250px;
	height:20px;
/* 	float:left; */
	
}
.hp-topics-in-menu-header{
	color:white;
	text-decoration:none;
	font-size: 20px;
	border: none;
/* 	text-align:center; */
/* 	padding-left:2px; */
	width:250px;
	height:20px;
/* 	float:left; */
/* 	opacity: ; */
	
}
.hp-topics-in-menu-header:HOVER {
	border: 1px solid  black;
	color:#1c7178;
	text-decoration:none;
	font-size: 22px;
	border: none;
/* 	text-align:center; */
	margin-left:10px;
	width:250px;
	height:20px;
/* 	float:left; */
	opacity: 1;
	/** colored dot line */
	padding-bottom: 40px;
	background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url("../images/coloredDotLine.png");
}
.topics-in-menu-header:HOVER {
	border: 1px solid  black;
	color:#1c7178;
	text-decoration:none;
	font-size: 19px;
	border: none;
/* 	text-align:center; */
	margin-right:15px;
	width:250px;
	height:20px;
/* 	float:left; */
/* 	opacity: 1; */
	/** colored dot line */
	padding-bottom: 20px;
	background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../images/coloredDotLine.png");
}
#menu-themes a.active {
	color:#1c7178;
	text-decoration:none;
	font-size: 20px;
	border: none;
	text-align:center;
	padding-left:5px;
	width:80px;
	height:80px;
	float:left;
	font-weight:bolder;
	opacity: 1;
	/** colored dot line */
	padding-bottom: 50px;
	background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../images/coloredDotLine.png");
}
#menu-themes a.active img {
/* 	color:#1c7178; */
/* 	text-decoration:none; */
/* 	font-size: 20px; */
/* 	border: none; */
/* 	text-align:center; */
/* 	padding-left:5px; */
/* 	width:80px; */
/* 	height:80px; */
/* 	float:left; */
	font-weight:bolder;
	opacity: 1;
	/** colored dot line */
/* 	padding-bottom: 50px; */
/* 	background-repeat: no-repeat; */
/*     background-position: center bottom; */
/*     background-image: url("../images/coloredDotLine.png"); */
}
/* .menu-bttn{ */
/* 	position:absolute; */
/* 	top:135px; */
/* 	left:170px; */
/* } */

.menu-container{
	position:relative;
	height: 150px;
	width: 100%;
	background-color: white;
}
.hp-menu-container{
	position:relative;
	height: 150px;
	width: 100%;
}

/* p { */
/*     font-family: 'Poppins', sans-serif; */
/*     font-size: 1.1em; */
/*     font-weight: 300; */
/*     line-height: 1.7em; */
/*     color: #999; */
/* } */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #1c7178;
    transition: all 0.3s;
    margin-left:60px;
    bouckground-color:white;
    
}
.wrapper {
/*         position:absolute; */
        top:50px;
        left:5px;
/*         margin-right:5px; */
}
.nav-side-menu {
/*   font-family: cursive; */
/*   font-size: 16px; */
/*   background-color: #F6F6F6; */
  height: 100%;
  color: #1c7178;
/*   margin-right:5px; */
}
/* .nav-side-menu .brand { */
/*   background-color: #F6F6F6; */
/*   line-height: 50px; */
/*   display: block; */
/*   text-align: center; */
/*   font-size: 14px; */
/* } */
.panel-heading {
    background-image: none;
/*     background-color: #F6F6F6; */
    color: #1c7178;
    padding:10px;
    border-bottom: 1px solid #1c7178;

}
.panel-heading.active{
   transition: all 0.5s;
   background-color: #1c7178;
   color: white;
}
.panel-heading-icon {

   float: right;
   transition: all 0.5s;
   pointer:cursor;
} 
.panel-heading-icon:before {
   font-family: FontAwesome;
   content: "\f054";
   float: right;
   transition: all 0.5s;
   pointer:cursor;
   font-size: 16px;
}
#main-content{
	position:relative;
	top: 190px;
	margin-left:1%;
	backgroung-color:white;
	
}
 .search-btn {
/*     border-radius: 0px 30px 30px 0px; */
    cursor:pointer;
    background: #1c7178;
/*     width: 300px; */
}
.deals-content{
	left : 18%;
}
#side-map{
/* 	left : 70%; */
	width: 35vw;
	height: 60vh;
	border: 5px solid #1c7178;
	padding-left: 1px;
	margin-right:5px;
/* 	top:210px; */
	
}
 .pac-container, .pac-item{
    z-index: 2147483647 !important;
 }
.side-map-container{
	position:fixed;
		left : 60%;
}
#footer{
	
	bottom:0px;
	position:absolute;
	top:1000px;

	}
select[multiple]:focus option:checked {
  background: #1c7178 linear-gradient(0deg, #1c7178 0%, #1c7178 100%);
}
#marque-search-input{
  margin:10px 0;
}
#price-slider, #distance-slider{
	 margin:50px 5px;
}
.price-range-min{
	margin-top:20px;
}
.ui-widget-content {
	border: 1px solid #bdc3c7;
	background: #e1e1e1;
	color: #1c7178;
	margin-top: 4px;
}
.value {
  position: absolute;
  top: 20px;
  left: 50%;
  margin: 10px 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;
  
  /* optional */
  
  font-weight: normal;
  font-family: Verdana,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 30px;
}

.price-range-both {
  display: none; 
}

.value i {
  font-style: normal;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #1c7178;
}
.ui-slider-range { 
    background: #1c7178; 
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}
/* breadcrumb */

.breadcrumb-arrow {
    min-height: 36px;
    /*     padding: 0; */
    line-height: 36px;
    list-style: none;
    overflow: auto;
    /*    background-color: #e6e9ed*/
    /*background: linear-gradient(to right, #eaeaea 0%,#ffffff 100%);*/
}

.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

.breadcrumb-arrow li,
.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
    display: inline-block;
    /*vertical-align: top;*/
}

.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}

.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}

.breadcrumb-arrow li span {
    padding: 0 10px;
}

.breadcrumb-arrow li a,
.breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}

.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}

.breadcrumb-arrow li a {
    position: relative;
    color: #1c7178;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
}

.breadcrumb-arrow li:first-child a {
    padding-left: 10px;
}

.breadcrumb-arrow li a:after,
.breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #1c7178;
    border-left-style: solid;
    border-left-width: 10px;
}

.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #1c7178;
}

.breadcrumb-arrow li a:focus,
.breadcrumb-arrow li a:hover {
    background-color: #1c7178;
    border: 1px solid #1c7178;
    color:white;
}

.breadcrumb-arrow li a:focus:before,
.breadcrumb-arrow li a:hover:before {
    border-left-color: #1c7178;
}

.breadcrumb-arrow li a:active {
    background-color: #1c7178;
    border: 1px solid #1c7178;
}

.breadcrumb-arrow li a:active:after,
.breadcrumb-arrow li a:active:before {
    border-left-color: #1c7178;
}

/*set for Last child*/

.breadcrumb-arrow li.active span {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #1c7178;
    border: 1px solid #1c7178;
}

.breadcrumb-arrow li.active:first-child span {
    padding-left: 10px;
}

.breadcrumb-arrow li.active span:after,
.breadcrumb-arrow li.active span:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li.active span:before {
    right: -10px;
    z-index: 3;
    border-left-color: #1c7178;
    border-left-style: solid;
    border-left-width: 11px;
}

.breadcrumb-arrow li.active span:after {
    right: -11px;
    z-index: 2;
    border-left: 10px solid #1c7178;
}
/** Gallery **/
#image-gallery .modal-footer{
  display: block;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.mom-bordered-btn {
  border: 1px solid #1c7178;
  color: #1c7178;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 19px;
/*   font-weight: bold; */
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
   display: none;
}
/** Gallery end **/
/** Grid view **/
.fa-circle {
    opacity: 0.2;
    mix-blend-mode: hard-light;
/*     font-size: 70px; */
}

.fa-circle-thin {
    color: gray;
    /*background-color: rgba(255,255,255,0.4);*/
}
.mom-heart {
/* 	opacity: 0.8; */
/*     bottom: 40px; */
-moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    font-size: 30px;
    -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
/*     border: 1px solid darkcyan; */
/*     border-radius: 50%; */
    
}
.mom-heart:hover {
	color:white;
	}

.heart-selected{
	background-color:red;
}
.offer-list-item .card {
  margin-top: 2px;
  background: #eee;
/*   padding: 0.5em; */
  line-height: 1.5em; }
.card {
  color:#1c7178;
  cursor:pointer; 
  }
.card:hover {
  background-color: #1c7178;
  color:white;
  cursor:pointer; 
  }
.card-body{
	padding:2px 0;
}
/** end Grid view **/
/** Offer details **/
#details-side-map{
	width: 400px;
	height: 500px;
	border: 5px solid #1c7178;
	padding-left: 5px;
	
}
.container-fluid{
	margin:0;
}
.container-fluid{
	padding-right:10%;
}
.offer-details-container{
	position:relative;
	top:25vh;
/* 	border:1px solid #1c7178; */
/* 	margin-left: 2%; */
	margin-right: 5%;
}
.price-and-payment-box{
	height: 45%;
	width: 100px;
	margin-right: 2%;
	margin-left: 5%;
}
.price-bttn{
	display:block;
	width:100px;
	height:100px;
	background-color:white;
	color:#1c7178;
	border:1px solid #1c7178;
}
.payment-bttn{
	display:block;
	width:100px;
	height:100px;
	background-color:#1c7178;
	color:white;
	margin-top:195px;
}
.annonceur-pane{
	top:10vh;
	left:5vh;
	height:40vh;
	border:1px solid #CCCCCC;
}
.annonceur-name{
	margin-top:10px;
	padding:5px;
	color:#1c7178;
}
.annonceur-contact{
/* 	position:absolute; */
	bottom:40px;
/* 	width:80%; */
}
.mom-default-btn{
	padding:5px;
	background-color:#1c7178;
	color:white;
	border:1px solid #1c7178
}
.mom-default-btn:hover{
	padding:7px;
	background-color:white;
	color:#1c7178;
	border:1px solid #1c7178
}
.details{
	margin:1vh 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.details-box{
	margin-top:40px;
}
.product-title {
  color:#1c7178;
  margin-bottom:50px;
  }
.product-description-title{
	color:#1c7178;
	margin-top: 30px;
}
.checked, .price span {
  color: #ff9606; }

.product-title, .rating, .price, .vote, .sizes {
  margin-bottom: 5px;
  margin-top:20px; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
/*   text-transform: UPPERCASE; */
/*   font-weight: bold; */
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
/**carousel ********************/
.carousel{
/*     position: relative; */
/*     top:25vh; */
border:2px solid #CCCCCC;
    background-color: 	#F0F0F0;
    height: 45%;
    width: 100%;
/*     background-position: 50% 50%; */
    background-repeat:   no-repeat;
/*     background-size:     cover; */
/*     overflow:hidden; */
}
.product-slider #carousel { border: 4px solid #1089c0; margin: 0; }
.carousel-indicators{
	top:100%;
    position: absolute;
/*     top:385px; */
/*     left:300px; */
    height:12vh;
/*     width: 100%;  */
}
.carousel-indicators li{
    text-indent:0;
    display:inherit;
    float:left;
    width: 20%;
    height: 100%;
    margin:5px 0px;
}
.carousel-indicators li img{
    width: 100%;
    height: 100%;
    border:2px solid #CCCCCC;
    padding: 2px;
    
}
.carousel-indicators .active img{
    border:2px solid #1c7178;
}
.carousel-indicators .active{
    margin:5px 0px;
/*     width: 10%; */
    height:12vh;
}
@media screen and (min-width:320px) and (max-width:360px) {
    .carousel-indicators{
        top:115px;
        left:95px;
    }
/*     .carousel-indicators li img{ */
/*         width:95%; */
/*         height:50px; */
/*     } */
    .carousel-indicators li{
        width:20%;
        height:50px;
    }
    .carousel-indicators .active{
        width:20%;
        height:50px;
    }
}
/* test */
.carousel-inner{
  width: 50wh;
  height:100vh !important;
border:5px solid #1c7178;
}

.carousel-inner > .carousel-item > img {
  	width: 100Vh !important;
  	height:55vh !important;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;                
  background-color:#1c7178;
  height: 2px;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
/*   background-image: none; */
  background-color: #C8C8C8;
  color:#1c7178;
}
/** end offer details **/
body {
    font-family: 'Nunito';font-size: 16px;
    background-color: white;
}