@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.login-input-wrapper {
  background-color: #FFF;
  margin-left: 50px;
 /** margin-right: 50%;**/
}
.login-modal {
    width: 400px;
}
.signup-modal {
    width: 600px;
}
.login-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1c7178;
  color: #1c7178;
  box-sizing: border-box;
/*   font-family: 'Arvo'; */
/*   font-size: 18px; */
  height: 40px;
  /**margin-bottom: 20px;**/
  padding: 10px 0px;
  /**position: absolute;**/
  top: 20%;
  width: 250px;
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: #1c7178;
}

.login-input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: #1c7178;
  display: block;
  height: 2px;
  /**left: 50px;**/
  margin-bottom: 5px;
  /**position: absolute;**/
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 250px;
}
.input-icon{
	padding:2px;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border:none;
  }
 /* Customize the label (the container) */
.civilite-lbl {
  display: inline;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /**width: 300px;*/
}

/* Hide the browser's default radio button */
.gender-radio {
	position: absolute;
      height: 25px;
    width: 25px;
    color: #1c7178;
  cursor: pointer;
}
/* Create a custom radio button */
/* .checkmark { */
/*     position: absolute; */
/*     left: 80px; */
/*     height: 25px; */
/*     width: 25px; */
/*     background-color: #eee; */
/*     border-radius: 50%; */
/*     margin-right:10px; */
/* } */

/* On mouse-over, add a grey background color */
/* .civilite-lbl:hover input ~ .checkmark { */
/*     background-color: #ccc; */
/* } */

/* When the radio button is checked, add a blue background */
.gender-radio:checked{
    background-color: #1c7178;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.civilite-lbl input:checked ~ .checkmark:after {
    display: inline-block;
}

/* Style the indicator (dot/circle) */
.civilite-lbl .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

    input[type='radio']:checked:after {
        width: 25px;
        height: 25px;
        border-radius: 15px;
        position: absolute;
/*         background-color: #1c7178; */
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #1c7178;
    }
body{
		font-family: 'Nunito';font-size: 16px;
    background-color: white;
		 }